
body{
    background-color: #1a1a1a;
    color: #ddd;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #444;
    border-radius: 6px;
    background-color: #333;
    color: #ddd;
    font-size: 14px;
    font-family: 'Georgia', serif;
    margin-bottom: 15px; 
    transition: border-color 0.3s ease-in-out;
}

input:focus,
textarea:focus {
    border-color: #cc66ff; 
    background-color: #444;
    outline: none;
}

label {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
}

button {
    background-color: #cc66ff; 
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
}

button:hover {
    background-color: #a24bc8;
}

button:focus {
    outline: 2px solid #cc66ff;
}

button {
    margin-top: 20px;
}
textarea{
    resize: none;
}
.gohome{
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    top: 20px;
    left: 20px; 
}